#root {
  background-image: url('https://static.prod.pokemon.com/images/pikachu_pattern.png');
  max-width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}