#root {
    font-family: Arial, Helvetica, sans-serif;
}

#signup-form {
    height: 65%;
    width: 25%;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 5px rgb(108, 108, 108);
    background-color: rgb(255, 255, 255);
    text-align: center;
}

form {
    text-align: center;
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    height: 25px;
    font-size: medium;
    background-color: rgb(29, 28, 28);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    padding-left: 5px;
}

input::placeholder {
    color: grey;
}

input:focus {
    background-color: rgb(54, 51, 51);
}

#submit {
    width: 60px;
    height: 30px;
    border: none;
    width: 100px;
    border-radius: 6px;
    background-color: rgb(13, 190, 13);
    color: white;
    font-weight: bold;
}

#submit:hover {
    background-color: rgb(21, 226, 21);
    cursor: url('http://www.rw-designer.com/cursor-extern.php?id=14474'), auto;

}

.Link {
    border: 2px solid rgb(50, 214, 0);
    text-decoration: none;
    font-weight: bold;
    color: rgb(13, 190, 13);
    border-radius: 5px;
    padding: 0 10px;
    height: 20px;
}

.Link:hover {
    background-color: rgb(13, 190, 13);
    color: white;
    transition: 0.5s;
    cursor: url('http://www.rw-designer.com/cursor-extern.php?id=14474'), auto;

}

@keyframes loading {
    from {
        margin-left: 0
    }

    to {
        right: 50px;
    }
}

.login-load {
    margin-left: 0;
    position: absolute;
    animation-name: loading;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

h1 {
    color: green;
}

@keyframes move {
    from {
        translate: 0;
    }

    to {
        translate: 25px 0px;
    }
}

#loading {
    animation-name: move;
    animation-duration: 2.5s;
    width: 40px;
    height: 35px;
}


/* Dashboard */

#username {
    color: red;
}

#logout {
    border: none;
    border-radius: 6px;
    color: white;
    background-color: red;
    width: 80px;
    height: 30px;
    font-weight: bold;
    cursor: url('http://www.rw-designer.com/cursor-extern.php?id=14474'), auto;
}